:root {
  --font-family-main: "Agency", "Arial", serif;
  --font-size-s: 22px;
  --font-line-s: 28px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 24px;
  --font-line-m: 32px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 32px;
  --font-line-l: 40px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 40px;
  --font-line-xl: 48px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // Sizes
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  // z-indexes
  --modal-z: 10;

  // Colors
  --overlay-color: rgba(0 0 0 / 70%);
}
