.textWrapper {
  margin: 4px 0;
}

.title {
  color: var(--primary-color);
  font: var(--font-l);
}

.text {
  color: var(--primary-color);
  font: var(--font-m);
}

.error {
  background: none;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 0 4px;

  .title {
    color: var(--secondary-color);
  }

  .text {
    color: var(--secondary-color);
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-small {
  .title {
    font: var(--font-m);
  }

  .text {
    font: var(--font-s);
  }
}

.text-medium {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.text-large {
  .title {
    font: var(--font-xl);
    font-weight: bold;
  }

  .text {
    font: var(--font-l);
  }
}
