.inputWrapper {
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 100%;
  border-radius: 5px;
  padding: 2px 4px;
}

.readOnly {
  opacity: 0.8;
}

.readOnlyText {
  padding: 4px;
}
