@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

@font-face {
  font-family: 'Agency';
  src: local('Agency'), url(../assets/fonts/mainFont.ttf) format('truetype');
}

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;

  a {
    color: var(--primary-color);
    padding: 20px;
  }
}
