.app_pink_theme {
  --bg-color: #c26bc2;
  --inverted-bg-color: #fbf4fb;
  --primary-color: #fdf8fd;
  --secondary-color: #41167e;

  // skeleton
  --skeleton-shadow: #fbf4fb;
  --skeleton-color: #fdf8fd;

  // code
  --code-bg: #965396;
}
