.sidebar {
  padding: 10px;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  border-right: 1px solid var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.links {
  display: flex;
  flex-direction: column;
}

.collapsedBtn {
  position: absolute;
  bottom: 34px;
  right: -40px;
}

.switchers {
  width: calc(100% - 10px);
  position: absolute;
  bottom: 40px;
}
