.sidebar {
  padding: 10px;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  border-right: 1px solid var(--inverted-bg-color);

  position: relative;
  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  width: calc(100% - 10px);
  position: absolute;
  bottom: 40px;
}
