.table {
  position: relative;
  width: 228px;
  color: green;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
    transform: scale(1.02);
  }

  .card {
    padding: 14px;
    border-radius: 10px;
    background-color: var(--card-bg);
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
  }

  .img {
    width: 200px;
    height: 200px;
  }

  .date {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    border-radius: 10px;
    background-color: var(--card-bg);
  }

  .info {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  .types {
    p {
      width: 115px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .title p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list {
  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 14px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin: 20px 0 0 20px;
  }

  .tags {
    margin-left: 20px;
  }

  .imageWrapper {
    display: flex;
    justify-content: center;
    margin: 14px 0;

    img {
      max-height: 200px;
    }
  }

  .articleTextBlock {
    max-height: 200px;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  .views {
    margin-left: auto;
    margin-right: 10px;
  }
}
