.articleDetails {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.title {
  margin-bottom: 22px;
}

.infoWrapper {
  display: flex;
}

.info {
  display: flex;
  align-items: center;
  margin-right: 32px;
  margin-bottom: 24px;

  svg {
    margin-right: 10px;
  }
}

.blocks {
  margin-bottom: 24px;
}
